body {
    font-family: sans-serif;
}

table, td, th {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

th {
    width: 10%;
    font-size: 3.5em;
}

td, th {
    padding: 1em;
    vertical-align: top;
    font-size: 2em;
}

table {
    width: 80%;
}
