body {
    font-family: sans-serif;
}

table, td, th {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
}

th {
    width: 10%;
    font-size: 3.5em;
}

td {
    font-size: 2em;
    font-weight: bold;
}

td, th {
    padding: 25px;
    vertical-align: top;
}

table {
    width: 80%;
}
